.add_operator {
    
}

.content__container {
    
}

.title__container {
    margin-bottom: 5%;
}

.operator_details__container {
    margin-bottom: 5%;
    padding: 2%;
}

.design__container {
    margin-bottom: 5%;
    padding: 2%;
}

.buttons__container {
    text-align: right;
}