.add_operator {
    
}

.content__container {
    
}

.content__container > div {
    padding: 2%;
    margin-bottom: 5%;
}

.title__container {

}

.operator_details__container {

}

.design__container {
    
}

.buttons__container {
    text-align: right;
}